<h1>Choose a Survey to Take</h1>
<table id="view_all_surveys" width="100%">
  <col width="600">
  <col width="100">
  <col width="100">
  <tr>
    <th>Survey</th>
    <th></th>
    <th></th>
  </tr>
  <% @surveys.each do |survey| %>
    <tr>
      <td><a href="/take_survey/<%= survey.id %>"><%= survey.title %></a></td>
      <% if current_user && survey.creator_id == current_user.id %>
        <td><a href="/edit_survey/<%= survey.id %>">Edit</a></td>
        <td><a href="/delete_survey/<%= survey.id %>?current_page=<%= request.path_info %>">Delete</a></td>
      <% else %>
        <td></td>
        <td></td>
      <% end %>
    </tr>
  <% end %>
</table>
